*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    /* border: 1px solid red; */
    min-width: 550px;
    max-width: 550px;
    box-shadow: 5px 10px 15px #485460;
    padding: 20px;
}
.container .sub-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* border: 1px solid green; */
    width: 100%;
    padding: 20px 10px;
    background: #d2dae2;
    border-radius: 5px;
    box-shadow: 5px 10px 15px #485460;
}
.container .sub-container #item{
    width: 400px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.container .sub-container button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #4bcffa;
    color: #fff;
    cursor: pointer;
}


.container #to-do-List{
    /* border: 1px solid green; */
    width: 100%;
    background: #d2dae2;
    padding: 20px 15px;
    box-shadow: 5px 10px 20px #485460;
    border-radius: 5px;
}
.container #to-do-List li{
    /* border: 1px solid red; */
    margin: 10px 5px;
    position: relative;
    padding: 10px;
    padding-right: 60px;
    background: #fff;
    text-align: justify;
    border-radius: 5px;
}
.container #to-do-List li .fa-times{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.container #to-do-List li .fa-pen-to-square{
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
}

.container #delete{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background: #4bcffa;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 5px 10px 20px #485460;
}

.my-class{
    position: relative;
    margin-top: 15px;
    width: 100%;
    background: #d2dae2;
    padding: 10px;
    box-shadow: 5px 10px 20px rgba(44, 42, 42, 0.151);
    border-radius: 5px;
    outline: none;
    border: .5px dotted black;
}

/* .input-field {
    width: 400px;
    padding: 10px;
    outline: none;
    border: none;
    margin: 5px 0;
  } */

  .icon-class[disabled] {
    cursor: none;
  }



